/idadeteste/nbproject/private/
/idadeteste/build/
/IfElse/nbproject/private/
/IfElse/build/
/SwtichCASE/nbproject/private/
/SwtichCASE/build/
/ExercicioAula15/nbproject/private/
/ExercicioAula15/build/
/LoopWhile/nbproject/private/
/LoopWhile/build/
/TesteLoop/nbproject/private/
/TesteLoop/build/
/Loopwhiiile/nbproject/private/
/Loopwhiiile/build/
/MaiorDeIdade/nbproject/private/
/MaiorDeIdade/build/
/Programa idade/nbproject/private/
/Programa idade/build/
/ConverterIdadeEmDias/nbproject/private/
/ConverterIdadeEmDias/build/
