/idadeteste/nbproject/private/
/idadeteste/build/
/IfElse/nbproject/private/
/IfElse/build/
/SwtichCASE/nbproject/private/
/SwtichCASE/build/
/ExercicioAula15/nbproject/private/
/ExercicioAula15/build/
/LoopWhile/nbproject/private/
/LoopWhile/build/
/TesteLoop/nbproject/private/
/TesteLoop/build/
/Loopwhiiile/nbproject/private/
/Loopwhiiile/build/
/MaiorDeIdade/nbproject/private/
/MaiorDeIdade/build/
/Programa idade/nbproject/private/
/Programa idade/build/
/ConverterIdadeEmDias/nbproject/private/
/ConverterIdadeEmDias/build/
/SistemaColegio/nbproject/private/
/SistemaColegio/build/
/CalculadoraSwtichCase/nbproject/private/
/CalculadoraSwtichCase/build/
/CalculadoraIMC/nbproject/private/
/CalculadoraIMC/build/
/LoopFor/nbproject/private/
/LoopFor/build/
/LoopFor/dist/
/ExerciciosAula17/nbproject/private/
/ExerciciosAula17/build/
/ExerciciosAula17/dist/
/Break e Continue/nbproject/private/
/Break e Continue/build/
/CalcularFatorial/nbproject/private/
/CalcularFatorial/build/
/Vetores(arrays)/nbproject/private/
/Vetores(arrays)/build/
/ExercicioAula19/nbproject/private/
/ExercicioAula19/build/
/exemplonota/nbproject/private/
/exemplonota/build/
/ExerciciosJava/nbproject/private/
/ExerciciosJava/build/
